body{
    color: greenyellow;
    background-color: gray;
    margin: 0 ;
    padding: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 32px;

}
h1{
    margin: 0 auto ;
}
img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}
button{position: absolute;
    width: 50vw;
    height: 5vh;
    bottom: 1px;
    background:linear-gradient(rgb(247, 105, 240), rgb(97, 219, 97)) ; 
    color:gold;
}