body{
    color: greenyellow;
    background-color: blueviolet;
    margin: 0 ;
    padding: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 32px;

}
h1{
    margin: 0 auto ;
}
img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    
}